.ipynb_checkpoints/OilReport-Copy1-checkpoint.ipynb
.ipynb_checkpoints/OilReport-checkpoint.ipynb
Python Model/__pycache__/productionModel.cpython-35.pyc
Python Model/__pycache__/explorationModel.cpython-35.pyc